/*------------------- CSS RESET -----------------------*/

* {
    padding: 0;
    margin: 0;
    font-size; 100%;
    line-height: 1em;
}

body {
    width: 100%;
    font-family: 'acumin-pro-condensed', sans-serif;
    font-weight:normal;
    background-color: #FDECF3;
    color: #000;
    line-height: 1.8em;
}

/*------------------ HEADER ------------------------*/

.header{
    height: 100vh; 
    background-repeat: no-repeat;
    background-image: url(icons/continuous2.png);
    background-size: cover;
}

.padding1{
    padding-top: 150px;
    padding-left: 50vw;
}

.padding2{padding-left: 50vw;}

.padding3{padding-right: 8vw;}

.arrow-wrap {
  position:absolute;
  z-index:1;
  top:60em;
  margin-left:47vw;
  background:#F4D7EA;
  width:6em;
  height:6em;
  padding:2em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #FDECF3;
}

.arrow {
  float: left;
  position:relative;
    margin-top: 2em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #FDECF3 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #FDECF3 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}

.arrow-wrap:hover .hint {
  opacity:1;
}

  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }

/*------------------ TYPOGRAPHY ------------------------*/

h3 { /*Hi! I'm*/
    font-family: 'acumin-pro-condensed', sans-serif;
    font-weight: normal;
    font-size:5vw;
}

h1 { /*LUCY COOK*/
    font-family: 'rift-soft', sans-serif;
    font-weight: normal; 
    font-size:11vw;
}

h5 { /*Welcome to my space*/
    font-family: 'acumin-pro-condensed', sans-serif;
    font-weight: normal;
    text-align: right;
    font-size:3vw;
}

p1 { /*I consider myself as*/
    font-family: 'acumin-pro-condensed', sans-serif;
    text-align: right;
    font-size:3vw;
}

h2 { /*UI Designer etc*/
    font-family: 'rift-soft', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size:5vw;
}

h4 { /*Section Titles - AboutMe/MyPortfolio*/
    font-family: 'rift-soft', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 5vw;
    margin-bottom: 60px;
}

h6{ /*portfolio titles*/
    font-family: 'rift-soft', sans-serif;
    font-weight: normal;
    font-size: 2.7vw;
}

p3{ /*portfolio text*/
    font-size: 1.8vw;
    text-align: left;
    line-height:25px;
}

p2 { /*footertext*/
    font-size: 2.5vw;
    font-family: 'acumin-pro-condensed', sans-serif;
    line-height: 40px;
}

/*------------------- LINKS ----------------------------*/

a {
    color: #000;
    font-family: 'Rift-soft', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
}

a:hover {
    color: #FDECF3;
}

a:hover {
    transform: scale(1.1);-webkit-transition: transform .4s; transition-timing-function: ease-in-out; cursor: pointer;
    color: #F4D7EA;
}

.button {
    background-color: #D898D2;
    padding: 0px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
   	border:3px solid #FDECF3;
}

.button {
    background-color: #D898D2;
    border: 3px solid #FDECF3;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    margin: 40px;
    margin-bottom: 60px;
} 

/*------------------ NAVIGATION -------------------------*/

nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #D898D2;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding: 0.5em 0;}

nav ul {
    text-align: center;
    font-family: 'rift-soft', sans-serif;
    letter-spacing: 1px;
    font-size:2.5vw;
}

nav ul li {
    display: inline;
    margin: 0 40px}

nav a:link {color: #FDECF3}

nav a:visited {color: #FDECF3;}

nav a:hover {
    -webkit-transition: all 0.2s ease-in;
    color: #000}

/*-------------------- I CONSIDER MYSELF AS - ABOUT ME SECTION ----------------------*/

div#about {
    display:grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    margin:50px 0px 40px 0px;
        }

.item {
    grid-column: 1/5;
    display: inline-block; 
    margin-top: 30px;
    margin-left: 200px;
        }
.item2 {
    grid-column: 5/8;
    display: inline-block; 
    margin-left: 0px;
        }

/*-------------------- FLEXBOX1 - ABOUT ME ----------------------*/

/*-- About Me Title ---*/
.border {background: #F38EAF;
    margin-bottom: 0px;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.container {
    display:flex;
    flex-wrap: wrap;
}

.box{
    font-size: 1.6vw;
    text-align: center;
    padding: 10px;
    background: #F38EAF;
    width:calc(33.333333% - 20px)
}

.box1, .box2, .box3, .box10, .box11, .box12{
    padding-top: 10px;}

.box1 img:hover{
    transform: scale(1.05);-webkit-transition: transform .4s; transition-timing-function: ease-in-out;}
.box2 img:hover{
    transform: scale(1.05);-webkit-transition: transform .4s; transition-timing-function: ease-in-out;}
.box3 img:hover{
    transform: scale(1.05);-webkit-transition: transform .4s ease-in-out;}
.box10 img:hover{
    transform: scale(1.05);-webkit-transition: transform .4s ease-in-out;}
.box11 img:hover{
    transform: scale(1.05);-webkit-transition: transform .4s ease-in-out;}
.box12 img:hover{
    transform: scale(1.05);-webkit-transition: transform .4s ease-in-out;}

.box4, .box5, .box6, .box13, .box14, .box15 {
    font-family: 'rift-soft', sans-serif;
    font-size: 2.7vw;
}

.box7, .box8, .box9, .box16, .box17, .box18{
    text-align: left;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 40px;
    line-height: 4vh;
    width: calc(33.3333333% - 90px)
}

/*-------------------- FLEXBOX2 PORTFOLIO ----------------------*/

.container2 {
    display:flex;
    flex-wrap: wrap;
}

.boxx{
    text-align: left;
    background: #FDECF3;
    width: 50%/*calc(50% - 40px)*/
}

.boxx1{
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 60px;
    width: calc(50% - 130px)
}

.boxx2, .boxx6{
    text-align:right;
    display: block;
}

.boxx4{
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 80px;
    width: calc(50% - 130px)
}

.boxx5{
    padding-top: 130px;
    padding-left: 80px;
    padding-right: 60px;
    width: calc(50% - 140px)
}

.button2 {
    background-color: #D898D2;
    border: 3px solid #F4D7EA;
    padding: 5px 50px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
} 

/*-------------------- FOOTER ----------------------*/

footer{
    text-align: center;
    padding: 100px 150px 60px 150px;
    background-image: url(icons/continuous2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
}

.icons {
    margin: 50px;
}

.fa {
    padding:20px;
    margin: 0 7px;
    color: #fff;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #F38EAF;
} 

/*------------------ MEDIA QUERIES -------------------*/

/*------ tablet landscape ---------*/

@media only screen and (min-width:768px) and (max-width:1024px) {
    
    .arrow-wrap {
    margin-left:47vw;}

    .item {
    margin-top: 30px;
    margin-left: 100px;}
    
    .item2 {
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    }
    
    .border {padding: 20px 0px 20px 30px}
    
    .box1 img, .box2 img, .box3 img, .box10 img, .box11 img, .box12 img{width: 22vw;}
    
    .box7, .box8, .box9, .box16, .box17, .box18{
    padding: 0px 10px 10px 30px;
    font-size: 1.8vw;
    line-height: 20px;
    width: calc(33.3333333% - 40px)
}
    .box16, .box17, .box18{padding-bottom: 30px;}
    
    .container2 {
        display:flex;
        flex-wrap: wrap;}
    h4{margin-bottom: 60px;}
    p3{font-size:1.9vw; line-height: 20px;}
    .boxx{width: 50%;}
    .boxx2, .boxx6{
        text-align:right;
        display: block;}
    .boxx1{
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 40px;
        width: calc(50% - 70px)}  
    .boxx4{
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 40px;
        width: calc(50% - 70px)}
    .boxx5{
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 40px;
        width: calc(50% - 70px)}
    
    .button2 {margin-top: 25px;} 
    
    footer{padding:200px 100px 50px 100px;}
    p2{line-height: 30px;}
    .button {margin: 30px;}
    .icons {margin: 30px;}

}
/*------ tablet portrait ---------*/

@media only screen and (min-width:600px) and (max-width:768px) {
 
    h3 {font-size:7vw;}
    .padding1{padding-top: 200px;
    padding-left: 20vw;}

    h1 {font-size:17vw;}
    .padding2{padding-left: 20vw;}

    h5 {font-size:4vw;}
    .padding3{padding-right: 20vw;}
    
    .arrow-wrap {
    margin-top: 20vh;
    margin-left:45vw;}

    .item {
    margin-top: 20px;
    margin-left: 100px;}
    
    .item2 {width: 30vw;}
    
    .border {padding: 20px 0px 20px 30px}
    .box1 img, .box2 img, .box3 img, .box10 img, .box11 img, .box12 img{width: 22vw;}
    .box7, .box8, .box9, .box16, .box17, .box18{
    padding: 0px 10px 30px 30px;
    font-size: 1.8vw;
    line-height: 17px;
    width: calc(33.3333333% - 40px)}
    .box16, .box17, .box18{padding-bottom: 30px;}
    
    .container2 {
        display:flex;
        flex-wrap: wrap;}
    h4{margin-bottom: 30px;}
    p3{font-size:1.9vw; line-height: 20px;}
    .boxx{width: 50%;}
    .boxx2, .boxx6{
        text-align:right;
        display: block;}
    .boxx1{
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 40px;
        width: calc(50% - 70px)}  
    .boxx4{
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 40px;
        width: calc(50% - 70px)}
    .boxx5{
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 40px;
        width: calc(50% - 70px)}
    
    .button2 {margin-top: 25px;} 
    
    footer{padding:80px 100px 50px 100px;
    height: 50vh;}
    p2{line-height: 30px;}
    .button {margin: 30px;}
    .icons {margin: 30px;}
    
    
}
    
/*----------- SMARTPHONE ----------- */   
    
    
    
/* @media (max-width: 35em) {
     
     .arrow-wrap {
         margin-left:30em;}
     
     .padding1{padding-right: 350px;}
     
     nav ul li {margin: 0 15px}
     
    .item {
    margin-top: 0px;
    margin-left: 40px;
    margin-right:0px;}
    
    .border {background: #F38EAF;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
       
     .box7, .box8, .box9, .box16, .box17, .box18{
         padding-bottom: 5px; padding-left: 20px; width: calc(33.3333333% - 30px); line-height: 15px; padding-bottom:20px;}
     
    p {font-size: 20px;
     padding-left: 20px;
     padding-right: 20px;}
     
    .button {
    padding: 5px 30px;
    font-size: 25px;}

     
.container2 {
    display:flex;
    flex-wrap: wrap;}
h4{font-size:40px;}
p3 {font-size:15px; line-height: normal;}
.boxx{width: 50%;}
.boxx2, .boxx6{
    text-align:right;
    display: block;}
.boxx1{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: calc(50% - 30px)}  
.boxx2 img {width:150%;}
.boxx3 img {width:120%;}
.boxx3 {padding-top: 30px;}
.boxx4{
    padding-top: 40px;
    padding-left: 20px;
    width: calc(50% - 40px)}
.boxx5{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: calc(50% - 30px)}
.boxx6 img{width: 100%; padding-top: 40px;}
     
     h6 {font-size: 25px;}
     .button2 {font-size: 25px; margin-top: 15px;}
     
     footer {padding: 80px 30px; }
     p2{font-size: 25px; line-height: 30px;}
     
     .icons{margin: 20px;}