/*------------------- CSS RESET -----------------------*/

* {
    padding: 0;
    margin: 0;
    font-size; 100%;
    line-height: 1em;
}

body {
    width: 100%;
    font-family: 'acumin-pro-condensed', sans-serif;
    font-weight:normal;
    background-color: #FDECF3;
    color: #000;
    line-height: 1.8em;
}

/*------------------ HEADER ------------------------*/

.header{
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(216,152,210,0.8), rgba(243,142,175,0.6));
}

.padding1{
    padding-top: 150px;
    padding-right: 485px;
}

.padding2{
    padding-right:100px;
}

/*------------------ TYPOGRAPHY ------------------------*/

h1 { /*LUCY COOK*/
    font-family: 'rift-soft', sans-serif;
    font-weight: normal; 
    text-align: right;
    font-size: 150px;
}

h2 { /*UI Designer etc*/
    font-family: 'rift-soft', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 60px;
}

h3 { /*Hi! I'm*/
    font-family: 'acumin-pro-condensed', sans-serif;
    font-weight: normal;
    text-align: right;
    font-size: 70px;
}


h5 {
    font-family: 'acumin-pro-condensed', sans-serif;
    font-weight: normal;
    text-align: right;
    font-size: 35px;
}

p1 {
    font-size: 35px;
    font-family: 'acumin-pro-condensed', sans-serif;
    margin-left: 100px;
    line-height: 1.5em; /*--- spacing between each line ---*/
}

p {
    font-size: 1em;
    font-family: 'acumin-pro-condensed', sans-serif;
    margin: 0 10em;
    line-height: 1.5em; /*--- spacing between each line ---*/
    margin-bottom: 1.5em; /*--- spacing between each paragraph ---*/
}

blockquote{
    font-size: 25px;
    padding: 10px;
}

/*------------------- LINKS ----------------------------*/

a {
    color: #000;
    font-family: 'Rift-soft', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.15s ease-in; /*--- transition on hover ---*/
}

a:hover {
    color: #FDECF3;
}

/*------------------ NAVIGATION -------------------------*/

nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #D898D2;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding: 0.5em 0;}

nav ul {
    text-align: center;
    font-family: 'rift-soft', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 0 40px}

nav a:link {color: #000}

nav a:visited {color: #000;}

nav a:hover {color: #FDECF3}

/*-------------------- SECTIONS ----------------------*/

.padding{
    margin: 100px 50px;
}

.textalign{
    text-align:right;
}

.border {background: #F38EAF;
    margin: 0 100px 20px 100px;
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;}
}

.border2 {background: #F38EAF;}

.button {
    font-family: 'rift-soft', sans-serif;
    font-size: 30px;
    background-color: #D898D2;
    border: #FDECF3;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*-------------------- FLEXBOX1 ----------------------*/

.box{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background: #F38EAF;
    width:calc(33.333333% - 20px)
}

.box1, .box2, .box3, .box10, .box11, .box12{
    padding-top: 40px;
}

.box4, .box5, .box6, .box13, .box14, .box15 {
    font-family: 'rift-soft', sans-serif;
    font-size: 30px;
}

.box7, .box8, .box9, .box16, .box17, .box18{
    text-align: left;
    padding-bottom: 40px;
    /*padding-left: 50px;
    width:calc(33.333333% - 100px)*/
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*-------------------- FLEXBOX2 ----------------------*/

.boxx{
    font-size: 25px;
    text-align: left;
    padding: 20px;
    background: #FDECF3;
}

.container2 {
    display:flex;
    flex-wrap: wrap;
}

.boxx{
    width:calc(50% - 40px)
}

.boxx2, .boxx6{
    text-align:left
}