/*------------------- CSS RESET -----------------------*/

* {
    padding: 0;
    margin: 0;
    font-size; 100%;
    line-height: 1em;
}

header {
    margin: 2em 0} /*--- page margin, works clockwise ---*/

body {
    width: 100%;
    font-family: 'acumin-pro-condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    background-color: #FDECF3;
    color: #333;
    line-height: 1.8em;
}

/*------------------ TYPOGRAPHY ------------------------*/

h1 {
    font-family: 'rift-soft', sans-serif;
    font-weight: normal; /*--- rather than bold font ---*/
    color: #000;
    text-align: right;
    font-size: 5em;
}

h2 {
    font-family: 'rift-soft', sans-serif;
    font-weight: normal; /*--- rather than bold font ---*/
    color: #000;
    text-align: left;
    font-size: 2em;
    margin: 0 5em;
}

h3 {
    font-family: 'acumin-pro-condensed', sans-serif;
    font-weight: normal; /*--- rather than bold font ---*/
    color: #000;
    text-align: left;
    font-size: 1em;
}

p1 {
    font-size: 1.5em;
    font-family: 'acumin-pro-condensed', sans-serif;
    margin: 0 5em;
    line-height: 1.5em; /*--- spacing between each line ---*/
    margin-bottom: 1.5em; /*--- spacing between each paragraph ---*/
}

p {
    font-size: 1em;
    font-family: 'acumin-pro-condensed', sans-serif;
    margin: 0 10em;
    line-height: 1.5em; /*--- spacing between each line ---*/
    margin-bottom: 1.5em; /*--- spacing between each paragraph ---*/
}

/*------------------ NAVIGATION -------------------------*/

nav {
    position: inherit; /*--- stays at top of page ---*/
    top: 10em; /*--- placement on page ---*/
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #D898D2;
    padding: 1em 0;
}

nav ul {
    text-align: right;
    font-family: 'rift-soft', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 0 5px 0 0;
}

nav a:link {
    color: #000
}

nav a:visited {
    color: #000;
}

nav a:hover {
    color: #FDECF3
}

/*------------------ TABLE --------------------*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse; /*---- no white divider ---*/
    border-spacing: 2px;
    margin-bottom: 1em;
    font-family: 'acumin-pro-condensed', sans-serif;
}

th {
    color: #fff;
    font-family: 'rift-soft', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    background: #F38EAF;
}

th, td {
    padding: 0.6em;
    background: #F38EAF;
}